<!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="f-items default-padding">

                    <!-- Single Item -->
                    <div class="col-md-4 equal-height item" style="height: 248px;">
                        <div class="f-item">
                            <h4>About</h4>
                            <p>
                                Unknown FInancial Services is a UK-based investment manager with offices in USA,
                                Ukraine and Russia. We are a dynamic group whose main focus is to provide our clients
                                with the best possible service, We apply a systematic and quantitative approach to
                                investment management, with the aim of generating high-quality and diversifying alpha
                                for its clients’ portfolios.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 equal-height item" style="height: 248px;">
                        <div class="f-item link">
                            <h4>Services</h4>
                            <ul>
                                <li><a href="https://www.Unknownfinancialservices.com/cryptocurrency.php">Cryptocurrencies</a></li>
                                <li><a href="https://www.Unknownfinancialservices.com/forex.php">Forex</a></li>
                                <li><a href="https://www.Unknownfinancialservices.com/loan.php">Loans</a></li>
                                <li><a href="https://www.Unknownfinancialservices.com/nfp.php">NFP</a></li>
                                <li><a href="https://www.Unknownfinancialservices.com/hedge.php">Hedge Funds</a></li>
                                <li><a href="https://www.Unknownfinancialservices.com/escrow.php">Escrow Service</a></li>
                                <li><a href="https://www.Unknownfinancialservices.com/gold_mining.php">Gold Mining</a></li>
                                <li><a href="https://www.Unknownfinancialservices.com/carbon_emission.php">Carbon Emision</a></li>
                                <li><a href="https://www.Unknownfinancialservices.com/real_estate.php">Real Estate</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 item">
                        <div class="f-item ">
                            <h4>Contacts</h4>
                            <ul>
                                <!-- <li class="mb-3">
                                    <span><img class="mr-3" width="20" height="20" src="assets/img/phone.svg" /><a href="#">+1 (780) 628-3603</a></span>
                                </li> -->
                                <li class="mb-3">
                                    <span><img class="mr-3" width="20" height="20" src="./envelope.svg"><a href="https://www.Unknownfinancialservices.com/#">support@Unknownfinancialservices.com</a></span>
                                </li>
                                <li class="mb-3">
                                    <span><img class="mr-3" width="20" height="20" src="./address.svg"><a href="https://www.Unknownfinancialservices.com/#">22 Baker Street,
                                            London, United Kingdom,
                                            W1U 3BW</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>© Copyright 2019. All Rights Reserved by <a href="https://www.Unknownfinancialservices.com/#">Unknowns</a></p>
                    </div>
                    <div class="col-md-6 text-right link">
                        <ul>
                            <li>
                                <a href="https://www.Unknownfinancialservices.com/#">Company Policies</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->
    <!-- jQuery Frameworks
    ============================================= -->
    <script async="" src="./app.js.download" charset="UTF-8" crossorigin="*"></script>
    <script async="" src="./default" charset="UTF-8" crossorigin="*"></script>
    <script src="./jquery-1.12.4.min.js.download"></script>
    <script src="./bootstrap.min.js.download"></script>
    <script src="./font-awesome.js"></script>
    <script src="./equal-height.min.js.download"></script>
    <script src="./jquery.appear.js.download"></script>
    <script src="./jquery.easing.min.js.download"></script>
    <script src="./jquery.magnific-popup.min.js.download"></script>
    <script src="./modernizr.custom.13711.js.download"></script>
    <script src="./owl.carousel.min.js.download"></script>
    <script src="./wow.min.js.download"></script>
    <script src="./progress-bar.min.js.download"></script>
    <script src="./isotope.pkgd.min.js.download"></script>
    <script src="./imagesloaded.pkgd.min.js.download"></script>
    <script src="./count-to.js.download"></script>
    <script src="./bootsnav.js.download"></script>
    <script src="./main.js.download"></script>
    <script src="./particles.js.download"></script>
    <script src="./particles_app.js.download"></script>
    <script src="./recents.js.download"></script>



</body></html>