<!--Footer -->
<footer class="m-grid__item		m-footer ">
    <div class="m-container m-container--fluid m-container--full-height m-page__container">
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                <span class="m-footer__copyright">
                    2019 © <a href="/account/#" class="m-link">Bluegate Investments</a>
                </span>
            </div>
        </div>
    </div>
</footer>


</div>


<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
<i class="la la-arrow-up"></i>
</div>
<!-- end::Scroll Top -->

<!--begin::Global Theme Bundle -->
<script src="/vendors.bundle.js.download" type="text/javascript"></script>
<script src="/scripts.bundle.js.download" type="text/javascript"></script>

<!--begin::Page Vendors -->
<script src="/fullcalendar.bundle.js.download" type="text/javascript"></script>

<!--begin::Page Scripts -->
<script src="/dashboard.js.download" type="text/javascript"></script>
<script src="/new-investment.js.download"></script>
<script src="/new-withdrawal.js.download"></script>
<script src="/morris-charts.js.download" type="text/javascript"></script>



<!-- Mirrored from keenthemes.com/metronic/preview/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Feb 2019 17:07:24 GMT -->

<div class="daterangepicker dropdown-menu ltr opensleft">
<div class="calendar left">
<div class="daterangepicker_input">
    <input class="input-mini form-control" type="text" name="daterangepicker_start" value="">
    <i class="fa fa-calendar glyphicon glyphicon-calendar"></i>
    <div class="calendar-time" style="display: none;">
        <i class="fa fa-clock-o glyphicon glyphicon-time"></i>
    </div>
</div>
<div class="calendar-table"></div>
</div>
<div class="calendar right">
<div class="daterangepicker_input">
    <input class="input-mini form-control" type="text" name="daterangepicker_end" value="">
    <i class="fa fa-calendar glyphicon glyphicon-calendar"></i>
    <div class="calendar-time" style="display: none;">
        <i class="fa fa-clock-o glyphicon glyphicon-time"></i>
    </div>
</div>
<div class="calendar-table"></div>
</div>
<div class="ranges">
<ul>
    <li data-range-key="Today">Today</li>
    <li data-range-key="Yesterday">Yesterday</li>
    <li data-range-key="Last 7 Days">Last 7 Days</li>
    <li data-range-key="Last 30 Days">Last 30 Days</li>
    <li data-range-key="This Month">This Month</li>
    <li data-range-key="Last Month">Last Month</li>
    <li data-range-key="Custom Range">Custom Range</li>
</ul>
<div class="range_inputs">
    <button class="applyBtn btn btn-sm btn-success" disabled="disabled" type="button">Apply</button>
    <button class="cancelBtn btn btn-sm btn-default" type="button">Cancel</button>
</div>
</div>
</div>
</body>
</html>