<%- include ("partials/header") %>

<!-- Start Banner 
    ============================================= -->
    <div id="particles-js"><canvas class="particles-js-canvas-el" width="1349" height="606" style="width: 100%; height: 100%;"></canvas></div>
    <div class="banner-area">
        <div id="bootcarousel" class="carousel inc-top-heading slide carousel-fade animate_text" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner text-light carousel-zoom">
                <div class="item">
                    <div class="slider-thumb bg-fixe" style="background-image: url(/logo.png); "></div>
                    <div class="box-table shadow dark">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="content">
                                            <h1 class="header_h1" data-animation="animated slideInLeft ">We serve you
                                                <span>Better</span></h1>
                                            <h3 class="header_h3" data-animation="animated slideInRight">We hire the
                                                best traders to serve you better</h3>
                                            <a data-animation="animated slideInUp" class="btn btn-theme effect btn-md" href="https://www.Unknownfinancialservices.com/#">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slider-thumb bg-fixe" style="background-image: url(assets/img/banner/2.jpg);"></div>
                    <div class="box-table shadow dark">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="content">
                                            <h1 class="header_h1" data-animation="animated slideInDown">Invest with a
                                                firm you can<br> <span>Trust</span></h1>
                                            <h3 class="header_h3" data-animation="animated slideInUp">24/7 monitoring of your investment is assured</h3>
                                            <a data-animation="animated slideInUp" class="btn btn-theme effect btn-md" href="https://www.Unknownfinancialservices.com/#">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item active">
                    <div class="slider-thumb bg-fixe" style="background-image: url(assets/img/banner/3.jpg);"></div>
                    <div class="box-table shadow dark">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="content">
                                            <h1 class="header_h1" data-animation="animated slideInLeft">More
                                                <span>convenient </span>than others</h1>
                                            <h3 class="header_h3" data-animation="animated slideInRight">Invest with us
                                                <span>Today</span><br>Let your money do the <span>hard work</span> </h3>
                                            <a data-animation="animated slideInUp" class="btn btn-theme effect btn-md" href="https://www.Unknownfinancialservices.com/#">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Wrapper for slides -->

            <!-- Left and right controls -->
            <a class="left carousel-control shadow" href="https://www.Unknownfinancialservices.com/#bootcarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control shadow" href="https://www.Unknownfinancialservices.com/#bootcarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- End Banner -->

    <!-- Start Our About
    ============================================= -->
    <div class="about-area full-width inc-shadow mt default-padding bottom-less">
        <div class="container">
            <div class="row">
                <!-- Start About -->
                <div class="about-content content-left">
                    <div class="col-md-6 info">
                        <h2>About Us</h2>
                        <p>Unknown FInancial Services is a UK-based investment manager with offices in USA, Ukraine and
                            Russia. We are a dynamic group whose main focus is to provide our clients with the best
                            possible service, We apply a systematic and quantitative approach to investment management,
                            with the aim of generating high-quality and diversifying alpha for its clients’ portfolios.
                        </p>
                        <p>
                            The company offers long term and short term investment opportunities, Unknown Financial
                            Service was
                            established in 2002 and it initially began trading stocks, shares and bonds, it got involved
                            in forex trading in 2008 and was among the pioneer traders of Crypto-currencies in the
                            advent of Bitcoin in 2010.
                        </p>
                        <a href="https://www.Unknownfinancialservices.com/about.php" class="btn btn-theme effect btn-md" data-animation="animated slideInUp">Read
                            More</a>

                    </div>
                    <div class="col-md-6 thumb">
                        <img src="./3.jpg" alt="Thumb">
                    </div>
                </div>
                <!-- End About -->

                <!-- Start Our Features -->
                <div class="col-md-12 text-center about-items">
                    <h2>Why chose us</h2>

                    <div class="row">
                        <!-- Single Item -->
                        <div class="col-md-3 col-sm-6 single-item">
                            <div class="item">
                                <a href="https://www.Unknownfinancialservices.com/#">
                                    <i class="flaticon-fit"></i>
                                    <h5>Highly Secured</h5>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="col-md-3 col-sm-6 single-item">
                            <div class="item">
                                <a href="https://www.Unknownfinancialservices.com/#">
                                    <i class="flaticon-target"></i>
                                    <h5>HIGH ROI</h5>
                                </a>
                            </div>
                        </div>
                        <!-- Single Item -->
                        <!-- End Single Item -->
                        <div class="col-md-3 col-sm-6 single-item">
                            <div class="item">
                                <a href="https://www.Unknownfinancialservices.com/#">
                                    <i class="flaticon-chart"></i>
                                    <h5>GUARANTEED RETURNS</h5>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="col-md-3 col-sm-6 single-item">
                            <div class="item">
                                <a href="https://www.Unknownfinancialservices.com/#">
                                    <i class="flaticon-customer-service"></i>
                                    <h5>24/7 Live Support</h5>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
                <!-- End Our Features -->
            </div>
        </div>
    </div>
    <!-- End Our About -->

    <!-- Start Services 
    ============================================= -->
    <div class="services-inc-area half-bg carousel-shadow default-padding bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-light text-center">
                        <h2>Our Services</h2>
                        <!-- <p>
                            While mirth large of on front. Ye he greater related adapted proceed entered an. Through it
                            examine express promise no. Past add size game cold girl off how old
                        </p> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <!-- Single Item -->
                        <div class="col-md-4 mb-5">
                            <div class="item">
                                <div class="thumb">
                                    <img src="./cryptocurrencies.jpg" alt="Thumb">
                                    <div class="overlay">
                                        <a href="https://www.Unknownfinancialservices.com/cryptocurrency.php">
                                            <i class="flaticon-report"></i>
                                            <h4>Cryptocurrencies</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <p>
                                        Cryptocurrencies are sets of software protocols for generating digital tokens
                                        and
                                        for tracking transactions in a way that makes it hard to counterfeit or re-use
                                        tokens.
                                    </p>
                                    <a href="https://www.Unknownfinancialservices.com/cryptocurrency.php">Read More <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="col-md-4 mb-5">
                            <div class="item">
                                <div class="thumb">
                                    <img src="./2.jpg" alt="Thumb">
                                    <div class="overlay">
                                        <a href="https://www.Unknownfinancialservices.com/#">
                                            <i class="flaticon-plan"></i>
                                            <h4>Escrow Service</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <p>
                                        Escrow comes into play when two parties are in the process of completing a
                                        transaction and there is uncertainty over whether one party or another will...
                                    </p>
                                    <a href="https://www.Unknownfinancialservices.com/escrow.php">Read More <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="col-md-4 mb-5">
                            <div class="item">
                                <div class="thumb">
                                    <img src="./3(1).jpg" alt="Thumb">
                                    <div class="overlay">
                                        <a href="https://www.Unknownfinancialservices.com/#">
                                            <i class="flaticon-piggy-bank"></i>
                                            <h4>Loans</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <p>
                                        Getting a loan doesn't have to be intimidating, with the right lender it can be
                                        a
                                        simple process. You only need a lender committed to ...
                                    </p>
                                    <a href="https://www.Unknownfinancialservices.com/loan.php">Read More <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="col-md-4 mb-5">
                            <div class="item">
                                <div class="thumb">
                                    <img src="./1.jpg" alt="Thumb">
                                    <div class="overlay">
                                        <a href="https://www.Unknownfinancialservices.com/#">
                                            <i class="flaticon-graph"></i>
                                            <h4>Hedge Funds</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <p>
                                        Hedge funds Hedge fund Marketplace. An online version of a traditional capital
                                        introduction program designed to allow Hedge Funds who use CIS as their
                                        principal
                                        Investing.
                                    </p>
                                    <a href="https://www.Unknownfinancialservices.com/hedge.php">Read more <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="col-md-4 mb-5">
                            <div class="item">
                                <div class="thumb">
                                    <img src="/5.jpg" alt="Thumb">
                                    <div class="overlay">
                                        <a href="https://www.Unknownfinancialservices.com/#">
                                            <i class="flaticon-research"></i>
                                            <h4>Forex</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <p>
                                        Forex or FX is an acronym of Foreign Exchange and Forex trading means to trade
                                        on
                                        this market. Trading takes place by predicting how one currency performs against
                                        another one
                                    </p>
                                    <a href="https://www.Unknownfinancialservices.com/forex.php">Read More <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="col-md-4 mb-5">
                            <div class="item">
                                <div class="thumb">
                                    <img src="/1.jpg" alt="Thumb">
                                    <div class="overlay">
                                        <a href="https://www.Unknownfinancialservices.com/#">
                                            <i class="flaticon-graph"></i>
                                            <h4>Non Farm Payroll [NFP]</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <p>
                                        The non-farm payroll report causes one of the consistently largest rate
                                        movements of any news announcement in the forex market. As a result, many
                                        analysts,
                                    </p>
                                    <a href="https://www.Unknownfinancialservices.com/nfp.php">Read More <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services -->

    <!-- Start Skill
    ============================================= -->
    <div class="skill-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 info">
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container" style="width: 100%; height: 400px;">
                        <iframe scrolling="no" allowtransparency="true" frameborder="0" src="./saved_resource.html" style="box-sizing: border-box; height: 400px; width: 100%;"></iframe>
                        
                    <style>
	.tradingview-widget-copyright {
		font-size: 13px !important;
		line-height: 32px !important;
		text-align: center !important;
		vertical-align: middle !important;
		font-family: 'Trebuchet MS', Arial, sans-serif !important;
		color: #9db2bd !important;
	}

	.tradingview-widget-copyright .blue-text {
		color: #2196f3 !important;
	}

	.tradingview-widget-copyright a {
		text-decoration: none !important;
		color: #9db2bd !important;
	}

	.tradingview-widget-copyright a:visited {
		color: #9db2bd !important;
	}

	.tradingview-widget-copyright a:hover .blue-text {
		color: #38acdb !important;
	}

	.tradingview-widget-copyright a:active .blue-text {
		color: #299dcd !important;
	}

	.tradingview-widget-copyright a:visited .blue-text {
		color: #2196f3 !important;
	}
	</style></div>
                    <!-- TradingView Widget END -->
                </div>
                <div class="col-md-6 tab-items">
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container" style="width: 100%; height: 400px;">
                        <iframe allowtransparency="true" frameborder="0" src="/saved_resource(1).html" style="box-sizing: border-box; height: 400px; width: 100%;"></iframe>
                        
                    <style>
	.tradingview-widget-copyright {
		font-size: 13px !important;
		line-height: 32px !important;
		text-align: center !important;
		vertical-align: middle !important;
		font-family: 'Trebuchet MS', Arial, sans-serif !important;
		color: #9db2bd !important;
	}

	.tradingview-widget-copyright .blue-text {
		color: #2196f3 !important;
	}

	.tradingview-widget-copyright a {
		text-decoration: none !important;
		color: #9db2bd !important;
	}

	.tradingview-widget-copyright a:visited {
		color: #9db2bd !important;
	}

	.tradingview-widget-copyright a:hover .blue-text {
		color: #38acdb !important;
	}

	.tradingview-widget-copyright a:active .blue-text {
		color: #299dcd !important;
	}

	.tradingview-widget-copyright a:visited .blue-text {
		color: #2196f3 !important;
	}
	</style></div>
                    <!-- TradingView Widget END -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Skill -->


    <!-- Start Achievement
    ============================================= -->
    <div class="achivement-area bg-fixed shadow dark text-light default-padding" style="background-image: url(assets/img/banner/9.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 achivement-items">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 item">
                            <div class="fun-fact">
                                <div class="timer" data-to="350" data-speed="5000">350</div>
                                <span class="medium">Transactions in Last 24H</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 item">
                            <div class="fun-fact">
                                <div class="timer" data-to="276" data-speed="5000">276</div>
                                <span class="medium">Professional agents</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 item">
                            <div class="fun-fact">
                                <div class="timer" data-to="24" data-speed="5000">24</div>
                                <span class="medium">Hours support</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 item">
                            <div class="fun-fact">
                                <div class="timer" data-to="19678" data-speed="5000">19678</div>
                                <span class="medium">Investors</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Achievement Area -->

    <!-- Start Testimonial & Faq
    ============================================= -->
    <div class="testimonials-faq about-area default-padding">
        <div class="container">
            <div class="row">
                <!-- Start Testimonials -->
                <div class="col-md-6 management-quote">
                    <h2>What Clients say</h2>
                    <div class="management-items management-carousel owl-carousel owl-theme owl-loaded owl-drag">
                        <!-- Single Item -->
                        
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        
                        <!-- End Single Item -->
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-540px, 0px, 0px); transition: all 0s ease 0s; width: 1620px;"><div class="owl-item" style="width: 540px;"><div class="item">
                            <p>
                                " You know good opportunity when you see one, BFS, the best investment platform i have
                                involved with."
                            </p>
                            <div class="author row">
                                <div class="max-30 col-md-6">
                                    <img class="img-rounded" style="border-radius:30px;" src="./14.jpeg" alt="Thumb">
                                </div>
                                <div class="info">
                                    <span>- Nathan Junior</span>
                                    <b>CEO Fly gates Delivery</b>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 540px;"><div class="item">
                            <p>
                                "Recommended investment company for you who are always looking for good investment with
                                good weekly returns, swift withdrawal, and excellent support."
                            </p>
                            <div class="author row">
                                <div class="max-30 col-md-6">
                                    <img class="img-rounded" style="border-radius:30px;" src="./12.jpeg" alt="Thumb">
                                </div>
                                <div class="info">
                                    <span>- Jonathan Abhi</span>
                                    <b>Product Designer</b>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 540px;"><div class="item">
                            <p>
                                "I know nothing about trading, but BFS has made it possible for me to accomplish such
                                tasks without my direct involvement with excellent weekly returns. I will encourage all
                                to give Capital Bits Investment a try."
                            </p>
                            <div class="author row">
                                <div class="max-30 col-md-6">
                                    <img class="img-rounded" style="border-radius:30px;" src="./13.jpeg" alt="Thumb">
                                </div>
                                <div class="info col-md-6">
                                    <span>- Marlum Kayum</span>
                                    <b>Software Developer</b>
                                </div>
                            </div>
                        </div></div></div></div>
                        <div class="owl-nav disabled">
                            <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
                            <div class="owl-next"><i class="fa fa-angle-right"></i></div>
                        </div>
                        <div class="owl-dots">
                            <div class="owl-dot"><span></span></div>
                            <div class="owl-dot active"><span></span></div>
                            <div class="owl-dot"><span></span></div></div>
                        </div>
                </div>
                <!-- End Testimonials -->

                <!-- Start Faq -->
                <div class="col-md-6 faq-area">
                    <div class="heading">
                        <h2>Answer &amp; Questions</h2>
                    </div>
                    <div class="acd-items acd-arrow">
                        <div class="panel-group symb" id="accordion">

                            <!-- Single Item -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="https://www.Unknownfinancialservices.com/#ac1">
                                            How long does it take my deposit to be credited into my account?
                                        </a>
                                    </h4>
                                </div>
                                <div id="ac1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>
                                            As soon as deposit is received. Typically takes 1-2 hour(s)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->

                            <!-- Single Item -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="https://www.Unknownfinancialservices.com/#ac2">
                                            How long does the withdrawal process take?
                                        </a>
                                    </h4>
                                </div>
                                <div id="ac2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Usually just a few hours though there might be delays from financial houses,
                                            we try our best to ensure withdrawals are speedily disbursed
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->

                            <!-- Single Item -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="https://www.Unknownfinancialservices.com/#ac3">
                                            What is the possibility that I will
                                        </a>
                                    </h4>
                                </div>
                                <div id="ac3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            There is always risk of losing funds but we ensure that all invested funds
                                            are capital insured implying that should trading go south that the amount
                                            invested at the time of trading is covered by Insurance also we also have an
                                            Employee Negligence cover to the tune of one million dollars
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->

                            <!-- Single Item -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="https://www.Unknownfinancialservices.com/#ac4">
                                            Do you charge fees for services?
                                        </a>
                                    </h4>
                                </div>
                                <div id="ac4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            No we do not charge for our services as we retain our profits before
                                            crediting investors their predetermined profit rate, some investment options
                                            may require fees in such cases the investor is advised properly
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Item -->
                        </div>
                    </div>
                </div>
                <!-- End Faq -->
            </div>
        </div>
    </div>
    <!-- End Testimonial & Faq -->
    <!-- Start Skill
    ============================================= -->
    <div class="skill-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-striped">
                        <thead style="background:#117BDC;  color:#ffffff;">
                            <tr>
                                <th scope="col">Latest Deposits</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="ld_body">
                            <tr><td>Xiong  </td><td>8-012-2020</td><td>$7304</td></tr>
                            <tr><td>Sửu  Shishani</td><td>8-012-2020</td><td>$2858</td></tr>
                            <tr><td>Zossima  Miller</td><td>8-012-2020</td><td>$1849</td></tr>
                            <tr><td>On  錢</td><td>8-012-2020</td><td>$16659</td></tr>
                            <tr><td>Savely  Hermansen</td><td>8-012-2020</td><td>$7068</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-striped">
                        <thead style="background:#121212;  color:#ffffff;">
                            <tr>
                                <th scope="col">Latest Withdrawals</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="lw_body">
                            <tr><td>Borivoj  รามจันทร์</td><td>8-012-2020</td><td>$1352</td></tr>
                            <tr><td>You  Langseth</td><td>8-012-2020</td><td>$3794</td></tr>
                            <tr><td>Graciela  Mikhail</td><td>8-012-2020</td><td>$1408</td></tr>
                            <tr><td>Celestyna  Nováková</td><td>8-012-2020</td><td>$1839</td></tr>
                            <tr><td>Константин  Chinweuba</td><td>8-012-2020</td><td>$4686</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End Skill -->

<%- include ("partials/footer") %>