<%- include ("partials/header") %>

<!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark bg-fixed text-center text-light" style="background-image: url(world.svg);">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <h1>Our Policies</h1>
              <ul class="breadcrumb">
                <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                <li class="active">Policies</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Breadcrumb -->
    
      <!-- Start Our About
        ============================================= -->
      <div class="about-area inc-video default-padding">
        <div class="container">
          <div class="row">
            <!-- Start About -->
            <div class="about-content">
              <!-- <div class="col-md-6 video-info">
                            <div class="thumb">
                                <img src="assets/img/about/4.jpg" alt="Thumb">
                                <a href="https://www.youtube.com/watch?v=owhuBrGIOsE" class="popup-youtube light video-play-button item-center">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div> -->
              <div class="col-md-12 info">
                <!-- <h2>TERMS AND CONDITIONS</h2> -->
                <div class="site-heading text-center">
                  <h2>TERMS AND CONDITIONS</h2>
                </div>
                <p>
                  The entire company's asset website, including the layout and design along with all the content and images
                  are protected by copyright and as such, you are not permitted to reproduce any part of the company's asset
                  without our prior and full approval.
                </p>
                <p>In continuing our promise towards investors in assuring their trading is conducted with confidence
                  BLUEGATE FINANCIAL SERVICES promotes fully transparent trading policy to its stakeholders and investors.
                  We give you all the required trading information you need, including good rates, spreads and leverage, and
                  other benefits of being an investor under our platform. All provided to ensure a safe and comfortable
                  trading experience.</p>
                <p>
                  In the simplest form, BLUEGATE platform is a form of speculative futures trading, whereby the payoff is
                  either a pre-agreed amount or nothing at all. This total dual outcome is the reason the term "trading" is
                  used. trading Options can be applied to a broad number of assets, including commodities, stocks, indices
                  and even currency pairs. The main prerequisite required by these assets is that their values fluctuate
                  constantly throughout each trading day. This is important as you never actually buy an asset when you
                  purchase a trading option; you are simply making a speculative investment on an assets behavior over a set
                  period of time. trading options have gained much popularity in recent years, due to their simple up/down
                  nature, the low cost required to participate and the increased return on investment profits (ROI).
    
                </p>
                <p>
                  They are now more accessible and successful than ever, and we provide an incredible opportunity for
                  investors to earn vast profit in a space of one month.
                </p>
                <p>
                  The content of this terms of service is for information purposes to guide the stakeholders and investors
                  as they sign up with BLUEGATE Financial Services. The terms and conditions of this agreement, and its
                  acceptance of investor’s application to open and have a managed account with BLUEGATE Financial Services.
                  This company/platform will maintain one account in customer’s name, and will effect cash settled
                  transaction with and for the customer, and provide such other services and products, as BLUEGATE platform
                  may.
                </p>
                <p>
                  Before you can become an investor under BLUEGATE FINANCIAL SERVICES, you have to first register yourself,
                  choosing any of the different investment packages/account types we offer. On completion of registration,
                  your account will be verified, and a trader/account manager assigned to you. To start trading with us, the
                  investor must fund his/her account with the minimum deposit of $300, and the maximum deposit of
                  $1,000,000(One Million Dollars), which falls under the different investment packages/account types we
                  offer.
                </p>
                <p>After period of trade of selected package, investors are eligible for withdrawal or rolling over of their
                  accounts (compounding). Investors are advised to notify their traders three days before withdrawal.</p>
    
    
                <div class="site-heading text-center my-5">
                  <h2>Anti-money Laundering Policy</h2>
                </div>
    
    
                <p>BLUEGATE FINANCIAL SERVICES does not tolerate money laundering and supports the fight against money
                  launders. BLUEGATE Financial Serices follows the guidelines set by the Germany’s joint money laundering
                  steering group. The Germany’s is a full member of the Financial Action Task Force(FATF), the
                  intergovernmental body whose purpose is to combat money laundering and terrorist financing.
                </p>
                <p>BLUEGATE Financial Services now has policies in place to deter people from laundering money.</p>
                <p>These policies include:</p>
                <ol class="custom-ul">
                  <li>Ensuring clients have valid proof of identification</li>
                  <li>Maintaining records of identification information</li>
                  <li>Determining that clients are not known or suspected terrorist by checking their names against list of
                    known or suspected terrorist.</li>
                  <li>Informing clients that the information they provide may be used to verify their identity</li>
                  <li>Closely following clients’ money transactions</li>
                  <li>Not accepting cash, money orders or third party transactions</li>
                </ol>
                <p>Money laundering occurs when funds from an illegal/criminal activity are moved through the financial
                  system in such a way as to make it appear that the funds have come from legitimate sources.
                </p>
                <p>Money Laundering Usually follows three stages:</p>
                <p>Firstly, cash or cash equivalents are placed into the financial system.</p>
                <p>Secondly, money is transferred or moved to other accounts, through a series of financial transactions
                  designed to obscure the origin of the money.</p>
                <p>And finally, the funds are re-introduced into the economy so that the funds appear to have come from
                  legitimate sources (e.g. closing a futures account and transferring the funds to a bank account).
                </p>
                <p>Trading accounts are one vehicle that can be used to launder illicit funds or to hide the true owner of
                  the funds. In particular, a trading account can be used to execute financial transactions that help
                  obscure the origins of the funds</p>
                <p>BLUEGATE Financial Serices direct funds withdrawal back to the original source of remittance, as a
                  preventive measure.
                </p>
                <p>International Anti-money Laundering requires financial services institutions to be aware of potential
                  money laundering abuses that could occur in a customer account and implement a compliance program to
                  deter, detect and report potential suspicious activity.</p>
                <p>These guidelines have been implemented to protect BLUEGATE Financial Services and its clients.</p>
                <p>HAPPY INVESTING!!!</p>
                <div class="site-heading text-center my-5">
                  <h2>LICENSING AND REGULATION</h2>
                </div>
                <p>Obviously, like any online transaction, if you are going to put your money somewhere, you need to know
                  that it is in safe hands. Any platform where you are financially transacting needs to be licensed and
                  regulated for you to be confident that your money is safe. Each country has its own regulator and rules
                  surrounding regulation and you should always look for the licensing accreditation when you are selecting
                  who to trade with.</p>
              </div>
              <div class="site-heading text-center my-5">
                <h2>CUSTOMER SERVICE</h2>
              </div>
              <p>If something goes wrong, or if you have a question about an element of trading you need to know that there
                is someone there to help and advise you. This can be a 24-hour virtual assistant or someone on the end of
                the phone in trading hours. We offer a high level of customer service.</p>
              <div class="site-heading text-center my-5">
                <h2>CFD TRADING</h2>
              </div>
              <p>CFD or contract for difference trading is a form of derivative trading which allows you to trade on global
                markets and predict the rise and fall of those markets. The money is made or lost on the difference in price
                of the asset when the contract is entered and the price when it is exited hence the name Contract for
                Difference.</p>
              <p>CFD trading has become increasingly popular because of the tax benefits but also because it can generate
                high profits. The extensive choice of markets available to trade, make it a good choice. Choose to trade in
                Forex, commodities, stocks and indices.</p>
              <p>As with any form of trading, it is essential to choose your trading company wisely. It is critical to make
                an informed decision based on a number of factors. This is where we come in. We conduct the research, so
                that you don't have to. Once we have tried and tested a market, we bring you a full review of the best that
                the market has to offer, so that you can make the best out of your investment.
    
              </p>
              <div class="site-heading text-center my-5">
                <h2>HOW DOES CFD TRADING WORK</h2>
              </div>
              <p>CFD or Contract for Difference trading requires you to predict the rise or fall of various market; Forex,
                commodities, stocks and indices. You don't actually purchase the assets, instead you enter a contract
                between you and the broker. Let's say you want to trade on the outcome of the UK FTSE 100 and you expect it
                to rise. You enter the contract at the current price of the FTSE 100 and then when you are ready to exit the
                difference in price (the spread) is what you get paid on.</p>
              <p>You can buy multiple contracts which then multiplies the spread by the number of contracts you buy. This is
                your profit.
              </p>
              <p>In order to maximize you return on Investment (ROI) profit, you need to ensure that you are trading on a
                reliable platform with a good trading company. There is much to consider when choosing a trading
                company/platform.</p>
              <div class="site-heading text-center my-5">
                <h2>DIVERSITY OF MARKETS</h2>
              </div>
              <p>If you look at the number of Forex pairs, commodities, indices and stocks that you could choose to trade in
                there are literally thousands. What you want is the option to choose which of these markets you want to
                trade. Choosing a broker that offers a wide selection means that you have much more choice. Make sure you
                check what is available before you open an account. If you want to trade non fiat currency markets, check
                out cryptocurrency trading.
              </p>
              <div class="site-heading text-center my-5">
                <h2>MOBILE TRADING</h2>
              </div>
              <p>
                For many, time is a valuable commodity. No longer do people have the time to be sat In front of a computer
                at a desk all day. They need the flexibility to be able to trade on the move. That is why having a good
                mobile offering is critical.
              </p>
            </div>
          </div>
          <!-- End About -->
        </div>
      </div>
      
      <!-- End Our About -->

<%- include ("partials/footer") %>