<%- include ("partials/header") %>

<!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark bg-fixed text-center text-light" style="background-image: url(world.svg);">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <h1>Our Policies</h1>
              <ul class="breadcrumb">
                <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                <li class="active">Policies</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Breadcrumb -->
    
      <!-- Start Our About
        ============================================= -->
      <div class="about-area inc-video default-padding">
        <div class="container">
          <div class="row">
            <!-- Start About -->
            <div class="about-content">
              <div class="col-md-12 info">
                <!-- <h2>TERMS AND CONDITIONS</h2> -->
                <div class="site-heading text-center">
                  <h2>TERMS AND CONDITIONS</h2>
                </div>
                <p>
                  The entire company's asset website, including the layout and design along with all the content and images
                  are protected by copyright and as such, you are not permitted to reproduce any part of the company's asset
                  without our prior and full approval.
                </p>
                <p>In continuing our promise towards investors in assuring their trading is conducted with confidence
                  BLUEGATE FINANCIAL SERVICES promotes fully transparent trading policy to its stakeholders and investors.
                  We give you all the required trading information you need, including good rates, spreads and leverage, and
                  other benefits of being an investor under our platform. All provided to ensure a safe and comfortable
                  trading experience.</p>
                <p>
                  In the simplest form, BLUEGATE platform is a form of speculative futures trading, whereby the payoff is
                  either a pre-agreed amount or nothing at all. This total dual outcome is the reason the term "trading" is
                  used. trading Options can be applied to a broad number of assets, including commodities, stocks, indices
                  and even currency pairs. The main prerequisite required by these assets is that their values fluctuate
                  constantly throughout each trading day. This is important as you never actually buy an asset when you
                  purchase a trading option; you are simply making a speculative investment on an assets behavior over a set
                  period of time. trading options have gained much popularity in recent years, due to their simple up/down
                  nature, the low cost required to participate and the increased return on investment profits (ROI).
    
                </p>
                <p>
                  They are now more accessible and successful than ever, and we provide an incredible opportunity for
                  investors to earn vast profit in a space of one month.
                </p>
                <p>
                  The content of this terms of service is for information purposes to guide the stakeholders and investors
                  as they sign up with BLUEGATE Financial Services. The terms and conditions of this agreement, and its
                  acceptance of investor’s application to open and have a managed account with BLUEGATE Financial Services.
                  This company/platform will maintain one account in customer’s name, and will effect cash settled
                  transaction with and for the customer, and provide such other services and products, as BLUEGATE platform
                  may.
                </p>
                <p>
                  Before you can become an investor under BLUEGATE FINANCIAL SERVICES, you have to first register yourself,
                  choosing any of the different investment packages/account types we offer. On completion of registration,
                  your account will be verified, and a trader/account manager assigned to you. To start trading with us, the
                  investor must fund his/her account with the minimum deposit of $300, and the maximum deposit of
                  $1,000,000(One Million Dollars), which falls under the different investment packages/account types we
                  offer.
                </p>
                <p>After period of trade of selected package, investors are eligible for withdrawal or rolling over of their
                  accounts (compounding). Investors are advised to notify their traders three days before withdrawal.</p>
    
    
                <div class="site-heading text-center my-5">
                  <h2>Anti-money Laundering Policy</h2>
                </div>
    
    
                <p>When you trade Cryptocurrency CFDs, you don't own the underlying asset. Crypto CFDs are traded
                    in pairs, which means that you speculate on the price of the base currency rising or falling
                    against the quote currency. TopFX offers Cryptocurrency pairs where the base currency is a
                    Cryptocurrency and the quote currency is a fiat currency (e.g LTC/USD). If your prediction is
                    correct, you make a profit, which is the difference between your order's opening and closing price.
                </p>
                <p>BLUEGATE Financial Services now has policies in place to deter people from laundering money.</p>
                <p><strong> Why Trade Cryptocurrency CFDs With Us:</strong></p>
                <p>TopFX offers 14 Crypto pairs that you can trade with a leverage of up to 1:10. Cryptocurrency CFDs trading is the easiest way to enter this exciting market as don't need a crypto-wallet and you pay no transaction fees as you would do with physical Cryptocurrency trading.
                    Additionally, you run no risk of losing your money due to malicious attacks as it sometimes happens with crypto-exchanges.</p>
                <div class="site-heading text-center my-5">
                  <h2>LICENSING AND REGULATION</h2>
                </div>
                <p>Obviously, like any online transaction, if you are going to put your money somewhere, you need to know
                  that it is in safe hands. Any platform where you are financially transacting needs to be licensed and
                  regulated for you to be confident that your money is safe. Each country has its own regulator and rules
                  surrounding regulation and you should always look for the licensing accreditation when you are selecting
                  who to trade with.</p>
              </div>
              <div class="site-heading text-center my-5">
                <h2>CUSTOMER SERVICE</h2>
              </div>
              <p>If something goes wrong, or if you have a question about an element of trading you need to know that there
                is someone there to help and advise you. This can be a 24-hour virtual assistant or someone on the end of
                the phone in trading hours. We offer a high level of customer service.</p>
              <div class="site-heading text-center my-5">
                <h2>CFD TRADING</h2>
              </div>
              <p>CFD or contract for difference trading is a form of derivative trading which allows you to trade on global
                markets and predict the rise and fall of those markets. The money is made or lost on the difference in price
                of the asset when the contract is entered and the price when it is exited hence the name Contract for
                Difference.</p>
              <p>CFD trading has become increasingly popular because of the tax benefits but also because it can generate
                high profits. The extensive choice of markets available to trade, make it a good choice. Choose to trade in
                Forex, commodities, stocks and indices.</p>
              <p>As with any form of trading, it is essential to choose your trading company wisely. It is critical to make
                an informed decision based on a number of factors. This is where we come in. We conduct the research, so
                that you don't have to. Once we have tried and tested a market, we bring you a full review of the best that
                the market has to offer, so that you can make the best out of your investment.
    
              </p>
              <div class="site-heading text-center my-5">
                <h2>HOW DOES CFD TRADING WORK</h2>
              </div>
              <p>CFD or Contract for Difference trading requires you to predict the rise or fall of various market; Forex,
                commodities, stocks and indices. You don't actually purchase the assets, instead you enter a contract
                between you and the broker. Let's say you want to trade on the outcome of the UK FTSE 100 and you expect it
                to rise. You enter the contract at the current price of the FTSE 100 and then when you are ready to exit the
                difference in price (the spread) is what you get paid on.</p>
              <p>You can buy multiple contracts which then multiplies the spread by the number of contracts you buy. This is
                your profit.
              </p>
              <p>In order to maximize you return on Investment (ROI) profit, you need to ensure that you are trading on a
                reliable platform with a good trading company. There is much to consider when choosing a trading
                company/platform.</p>
              <div class="site-heading text-center my-5">
                <h2>DIVERSITY OF MARKETS</h2>
              </div>
              <p>If you look at the number of Forex pairs, commodities, indices and stocks that you could choose to trade in
                there are literally thousands. What you want is the option to choose which of these markets you want to
                trade. Choosing a broker that offers a wide selection means that you have much more choice. Make sure you
                check what is available before you open an account. If you want to trade non fiat currency markets, check
                out cryptocurrency trading.
              </p>
              <div class="site-heading text-center my-5">
                <h2>MOBILE TRADING</h2>
              </div>
              <p>
                For many, time is a valuable commodity. No longer do people have the time to be sat In front of a computer
                at a desk all day. They need the flexibility to be able to trade on the move. That is why having a good
                mobile offering is critical.
              </p>
            </div>
          </div>
          <!-- End About -->
        </div>
      </div>
      
      <!-- End Our About

        How does Forex trading work?
What is Forex?
Forex is a speculation-based market that's traded in pairs. When you trade Forex, you buy or sell one currency against the other without physically owning them.
For example, if you believed that the price of EUR will rise against the USD, you'd
place a BUY order. If you thought that the price of EUR will fall, you'd place a SELL order. If your prediction was correct, you'd make a profit, which would be equal to the difference between the open and the close price.

Reduced Forex trading costs with TopFX
While the difference between the open and close price is your gross profit, you would also have to include your trading costs in the equation. The most essential trading cost is the spread and depending on the account type you choose, you may also be charged commissions.

TopFX offers ultra-low pricing on all our accounts, therefore choosing an account type is a matter of personal preference. Our RAW account type enables you to trade with spreads starting from 0.0 pips and some of the lowest commissions in the market while our ZERO account type features all-inclusive spreads and no commissions at all.
    
    -->

<%- include ("partials/footer") %>