<%- include ("../partials/head") %>

<!-- CUSTOM CARDS -->
<div class="m-content mt-5">
    <div class="row">
        <div id="section1" class="col-md-8 offset-md-2">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tabs" id="form_div">
                <div class="m-portlet__head">

                </div>
                <!--begin::Form-->
                <form class="m-form m-form--label-align-right m-form--fit" id="withdrawalForm">
                    <div class="m-portlet__body">
                        <div class="tab-content">
                            <div class="tab-pane  active" id="m_builder_page">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">Select Withdrawal Method</label>
                                    <div class="col-lg-8 col-xl-4">
                                        <select name="withdrawalMethod" class="form-control">
                                            <option value="bitcoin">BITCOIN</option>
                                            <option value="litecoin">LITECOIN</option>
                                            <option value="ethereum">ETHEREUM</option>
                                            <option value="bitcoinCash">BITCOIN CASH</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">Account Balance</label>
                                    <div class="col-lg-8 col-xl-4">
                                        <div class="input-group m-input-group m-input-group--pill"> <!--- Lookdown-->
                                            <input type="text" name="" class="form-control" value="$10000" disabled="true" readonly="">
                                        </div>
                                        <small class="text-warning">You cannot withdraw more than your account balance</small>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">Amount</label>
                                    <div class="col-lg-8 col-xl-4">
                                        <div class="input-group m-input-group m-input-group--pill">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">#</span>
                                            </div>
                                            <input type="number" name="amount" class="form-control" value="" placeholder="Amount" required="">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon1">$</span>
                                            </div>
                                        </div>
                                        <small class="text-danger error" id="amountError"></small>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">Wallet Address</label>
                                    <div class="col-lg-8 col-xl-4">
                                        <div class="input-group m-input-group m-input-group--pill">
                                            <input type="text" name="walletAddress" class="form-control" value="" placeholder="Wallet Address" required="">
                                        </div>
                                        <small class="text-danger error" id="amountError"></small>
                                    </div>
                                </div>
                                <input type="hidden" name="email" class="form-control" value="nwankwodika@gmail.com" readonly="">
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <button id="submitButton" type="submit" name="builder_submit" data-demo="demo5" class="btn btn-primary m-btn m-btn--icon m-btn--wide m-btn--air m-btn--custom m-loade m-loader--right">
                                        <span>
                                            <span>Withdraw</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
        <div id="section2" class="col-md-6 offset-md-3" style="display:none;">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tabs p-5 text-center" id="form_div">
                <div class="py-3"><i class="fas fa-check-double fa-3x text-success"></i></div>
                <!-- <div class="py-3"><i class="far fa-check-square fa-3x text-success"></i></div> -->

                <h4>Your withdrawal request was delivered successfully we'll get back to you in a moment</h4>
                <a class="btn btn-primary mt-3" href="/account">Return to Home</a>
            </div>
        </div>
    </div>

</div>
</div>


</div>

<%- include ("../partials/foot") %>