<%- include ("../partials/head") %>

<!-- CUSTOM CARDS -->
<div class="m-content">
    <div class="row">
    <div class="col-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">Investment History </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->
                    <div class="m-section">
                        <div class="m-section__content">
                            <table class="table table-striped table-bordered m-table">
                                <thead>
                                    <tr>
                                        <th>#SN</th>
                                        <th>DATE &amp; TIME</th>
                                        <th>INVESTMENT PACKAGE</th>
                                        <th>AMOUNT</th>
                                        <th>COMMISION</th>
                                        <th>ROI</th>
                                        <th>COMPOUNDING</th>
                                        <th>PAYOUT</th>
                                        <th>NEXT PAYOUT</th>
                                        <th>UPGRADE</th>
                                        <th>STATUS</th>

                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                        <th colspan="100%" class="text-center">No history at the moment</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>

</div>
</div>


</div>

<%- include ("../partials/foot") %>