<%- include ("../partials/head") %>

<!-- CUSTOM CARDS -->

<div class="section2 col-md-6 offset-md-3" style="">
<!--begin::Portlet-->
<div class="m-portlet m-portlet--tabs p-5 text-center" id="form_div">
<div class="py-3"><i class="fas fa-check-double fa-3x text-success"></i></div>
<!-- <div class="py-3"><i class="far fa-check-square fa-3x text-success"></i></div> -->

<h5 class="font-weight-bold">Your Investment request was delivered successfully. Please make your payment to the bitcoin wallet address below.</h5>
<div class="input-group my-5">
<input type="text" class="form-control text-center wallet_address_input" value="14ZdYVGczsuaVkJTDLg2YWJievKrDWbhdY" id="m_clipboard_1" readonly="">
<div class="input-group-append">
<a href="#" class="btn btn-secondary" data-clipboard="true" data-clipboard-target="#m_clipboard_1"><i class="la la-copy mr-2"></i>Copy</a>
</div>
</div>
<a class="btn btn-primary mt-3" href="/account">Return to Home</a>
</div>
</div>					</div>
</div>
</div>
</div>

<%- include ("../partials/foot") %>